@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loading_screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    pointer-events: none;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#loading_text {
    text-align: center;
}