@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

:root {
    --color-orange-100: #fefbe9;
    --color-orange-200: #fceccf;
    --color-orange-300: #f9ddb4;
    --color-orange-400: #f7ce9a;
    --color-orange-500: #f5be80;
    --color-orange-600: #f2af65;
    --color-orange-700: #f0a04b;

    --color-mint: #E1EEDD;
    --color-green: #183A1D;

    --animation-cubic-bezier: cubic-bezier(.62,.28,.23,.99);
}

* {
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#loading_screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-orange-100);
    z-index: 99999;
    pointer-events: none;
    opacity: 1;
    transition: opacity 1s var(--animation-cubic-bezier);
}

#loading_text {
    text-align: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
    background-color: var(--color-orange-300);
    border: 5px solid var(--color-orange-300);
    transition: all .15s var(--animation-cubic-bezier);
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-orange-100);
    border: 5px solid var(--color-orange-700);
}

.button.selected {
    background-color: var(--color-orange-400);
    border: 5px solid var(--color-orange-700);
}


#scene_controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all .25s var(--animation-cubic-bezier);
    pointer-events: none;
}

#scene_controls.active {
    transform: translateY(0);
}

#scene_controls_thumb {
    position: absolute;
    top: -30px;
    width: 100px;
    height: 30px;
    border-radius: 15px 15px 0 0;
    background-color: var(--color-mint);
    text-align: center;
    font-weight: 700;
    pointer-events: all;
}

#scene_controls_thumb:hover {
    cursor: pointer;
    background-color: var(--color-orange-100);
}

#scene_controls_thumb img {
    height: 100%;
}

.controls-container {
    display: flex;
    gap: 1em;
    padding: 1em;
    background-color: var(--color-orange-100);
    border-radius: 15px 15px 0 0;
    pointer-events: all;
}

.setting-options {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;

    transform: translateY(100%);
    transition: transform .5s var(--animation-cubic-bezier);
}

.setting-options.active {
    transform: translateY(-90%);
}

.options-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    pointer-events: all;
    background-color: var(--color-orange-100);
    border-radius: 15px;
}

.option-subtitle {
    font-weight: 100;
    font-size: .9em;
}